<div class="priceOffer-card" data-db-id="<%= offer.id %>">

    <img class="priceOffer-card-img" src="data:image/<%=offer.img.contentType%>;base64, <%=offer.img.data.toString('base64')%>" alt="">

    <div class="priceOffer-card-text">
        <h4 id="name"><%= offer.name %></h4>
        <h5 id="time-text">Szacowany czas trwania: <span id="time-value"><%= offer.time %></span> godz.</h5>
    </div>

    <h2 class="priceOffer-card-price"><span><%= offer.price %></span>zł</h2>
</div>